@use "@/styles/variables.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: variables.$black;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.input {
  width: 240px;
  margin-top: 16px;
}

.error {
  font-size: 12px;
  color: variables.$pink;
  margin-top: 8px;
}

.buttonBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.message {
  font-size: 16px;
  margin-top: 32px;
}

.radio {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.email {
  margin-top: 32px;
}

.invite {
  margin: 16px 0 0 16px;

  gap: 4px;
  a {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.create {
  margin-top: 16px;
  font-size: 14px;
  a {
    color: variables.$blue;
    &:after {
      content: ">";
      padding-left: 4px;
      font-size: 120%;
    }
  }
}
