@use "@/styles/variables.scss";

.container {
  margin: 16px auto;
  width: 100%;
  max-width: 600px;
}

.title {
  margin-top: 8px;
  font-size: 20px;
}

.description {
  margin-top: 8px;
  font-size: 16px;
}

.meta {
  margin-top: 16px;
  dt {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-top: 8px;
  }
  dd {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 8px;
    span:not(:first-child) {
      &::before {
        content: "/";
        padding-right: 4px;
      }
    }
  }
}

.image {
  margin-top: 32px;
  width: 100%;
  max-width: 300px;
  height: auto;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.buttonBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
