@use "@/styles/variables.scss";

.container {
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: calc(100% - 16px);
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.title {
  font-size: 16px;
}

.description {
  font-size: 14px;
  color: variables.$darkGray;
}

.meta {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 12px;
  color: variables.$gray;
  flex-wrap: wrap;
  justify-content: flex-start;
  li {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.image {
  width: 72px;
  height: auto;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 72px;
    height: auto;
  }
}
