@use "@/styles/variables.scss";

.container {
  margin: 16px auto;
  width: 100%;
  max-width: 600px;
}

.title {
  margin-top: 8px;
  font-size: 20px;
}

.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input,
.select {
  width: calc(100% - 32px);
  max-width: 480px;
  margin: 8px 0 16px;
}

.list {
  display: flex;
  gap: 16px;
  margin: 8px 0 16px;
}

.radio {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.buttonBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
