@use "@/styles/variables.scss";

.header {
  background-color: variables.$blue;
  padding: 8px;
  svg {
    color: variables.$white;
    width: 32px;
    height: 32px;
  }
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  color: variables.$white;
  font-size: 24px;
  margin: 0;
}

.account {
  position: absolute;
  right: 16px;
  display: flex;
  align-items: center;
}
